@import '../../../../styles.scss';

mat-card {
  border: 3px solid $primary;
  border-radius: 1.2rem;
}

.card-container {
  height: 15rem;
  display: flex;
  align-items: center;
  gap: 2rem;

}

.card-image {
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
}

.card-info {
  height: 12rem;
  overflow-y: scroll;

  .card-name {
    font-size: 2rem;
    font-weight: 600;
    color: $secondary;
    margin-bottom: 0.2rem;
  }

  .card-race {
    color: $text;
    font-size: 1.8rem;
  }

  .card-description {
    color: $text;
    font-size: 1.6rem;
    text-align: justify;
  }
}

.card-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.energy,
.battle-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text;
  gap: 1.4rem;
  width: 50%;

  i {
    font-size: 3rem;
  }

  span {
    font-size: 1.8rem;
  }
}

.energy i {
  color: $energy;
}

.battle-points i {
  color: $warning;
}