################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/StardeckTest/bin
/.vscode/launch.json
/.vscode/tasks.json
/obj
/StardeckTest/obj
/ClientApp/.angular
/ClientApp/node_modules
/bin
/.idea/.idea.folder.dir/.idea
/StarDeck/.idea/.idea.Stardeck/.idea
