@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */

/* Paleta de colores */
$primary: #0366d6;
$secondary: #69f0ae;
$warning: #F44336;
$disabled: #eaeaea;
$background_0: #303030;
$background_1: #434343;
$background_2: #696969;
$text: #fff;

$energy: #6988f0;
$ultra-rare-card: #e6ce4a;
$very-rare-card: #9a00d6;
$rare-card: #4161f1;
$common-card: #66e961;

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: $primary;
  text-decoration: none;
}

code {
  color: $secondary;
}

* {
  font-family: 'Exo', sans-serif;
}

mat-icon {
  font-family: 'Material Icons' !important;

  * {
    font-family: 'Material Icons' !important
  }
}

html,
body {
  height: 100%;
  background-color: $background_0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $text;
  font-family: 'Exo', sans-serif;
}

h1 {
  color: $secondary
}