/* You can add global styles to this file, and also import other style files */

/* Paleta de colores */
$primary: #0366d6;
$secondary: #69f0ae;
$warning: #F44336;
$background_0: #303030;
$background_1: #434343;
$background_2: #696969;
$text: #fff;

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Provide sufficient contrast against white background */
a {
  color: $primary;
  text-decoration: none;
}

code {
  color: $secondary;
}

* {
  font-family: 'Exo', sans-serif;
}

[_ngcontent-ng-cli-universal-c20] {
  font-family: 'Material Icons' !important
}

html,
body {
  height: 100%;
  background-color: $background_0;
}

body {
  margin: 0;
}