  <div style="align-items: center; justify-content: center; display: flex; flex-direction:row">
    <div>
      <form (ngSubmit)="Sig_In(login.getRawValue())" [formGroup]="login" action="home.component.ts"
            class="form-signin" style="display: flex; flex-direction: column; ">
        <h1 class="text-center">Login</h1>
        <input class="form-control" formControlName="Nickname" id="Usuario" placeholder="Usuario" 
               type="text" value="" required>
        <input class="form-control" formControlName="Password" id="Contraseña" placeholder="Contraseña" required/>
        <button [disabled]="!login.valid" class="btn btn-lg btn-primary" id="Sig_in" type="submit">Iniciar Sesion
        </button>
      </form>
    </div>
    <div style="margin: 1%;">o</div>
    <div>
      <button class="btn btn-lg btn-primary" id="Sign_up" (click)="Register()">Registrar</button>
    </div>
  </div>
