@import '../../../../styles.scss';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  span {
    font-size: 3rem;
    text-transform: uppercase;
    color: $secondary
  }

  img {
    width: 5rem;
  }
}

.options-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  .options {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: $text;
      font-size: 1.6rem;
      transition: 0.1s ease-in-out;
    }

    a:hover {
      color: $secondary;
      transition: 0.1s ease-in-out;
    }
  }
}