<div class="w-50 my-5 mx-auto">
  <div class="row">
    <h2 color="accent">Selección de cartas </h2>
  </div>
  <div class="row">
    <mat-label color="basic">Seleccione la primer carta</mat-label>
    <mat-grid-list cols="3" rowHeight="1:1">
      <div>
        <mat-grid-tile>Carta 1</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile>Carta 2</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile>Carta 3</mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
  <div class="row">

    <mat-label color="basic">Seleccione la segunda carta</mat-label>
    <mat-grid-list cols="3" rowHeight="1:1">
      <div>
        <mat-grid-tile>Carta 1</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile>Carta 2</mat-grid-tile>
      </div>
      <div>
        <mat-grid-tile>Carta 3</mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>

<div class="row">
  <mat-label color="basic">Seleccione la tercer carta</mat-label>
  <mat-grid-list cols="3" rowHeight="1:1">
    <div>
      <mat-grid-tile>Carta 1</mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>Carta 2</mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>Carta 3</mat-grid-tile>
    </div>
  </mat-grid-list>
</div>


<div class="row">
  <hr color="#ffffff">
  <mat-label>Cartas en su deck</mat-label>
</div>

<div class="row">
  <mat-grid-list cols="3" rowHeight="5:1">
    <div><mat-grid-tile>Carta 1</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 2</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 3</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 4</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 5</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 6</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 7</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 8</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 9</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 10</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 11</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 12</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 13</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 14</mat-grid-tile></div>
    <div><mat-grid-tile>Carta 15</mat-grid-tile></div>
    

  </mat-grid-list>

</div>

<div class="row">
  <button mat-raised-button color="primary" (click)="createInitialCollection()"> Aceptar </button>
</div>

</div>
