<div class="w-50 my-5 mx-auto">
  <form [formGroup]="newUser">
    <div class="row">
      <h1>Registro de Cuenta </h1>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label color="primary">Nombre del jugador</mat-label>
        <input placeholder="Entre 5 y 30 caracteres" matInput formControlName="name" required minlength="5"
          maxlength="30">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label color="primary">Apodo</mat-label>
        <input placeholder="Entre 5 y 30 caracteres" matInput formControlName="nickname" required minlength="5"
          maxlength="30">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label color="primary">Correo</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label>País</mat-label>
        <mat-select matInput formControlName="nationality" required>
          <mat-option *ngFor="let country of countryList" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label color="primary">Contraseña</mat-label>
        <input placeholder="8 caracteres alfanuméricos" matInput formControlName="password" required type="password"
          maxlength="8">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" [hideRequiredMarker]="true">
        <mat-label placeholder="8 caracteres alfanuméricos" color="primary">Confirmación de Contraseña</mat-label>
        <input matInput formControlName="passwordv" required type="password" maxlength="8">
      </mat-form-field>
    </div>


    <div class="row">
      <mat-checkbox (change)="onCheck()" color="warn" required>Acepta términos y condiciones del juego de
        StarDeck</mat-checkbox>
    </div>

    <div class="row">
      <button mat-raised-button color="primary" (click)="createAccount() ">Crear Cuenta</button>
    </div>

  </form>
</div>