<app-image-uploader [imageURL]="'../../../assets/images/card.png'"></app-image-uploader>

<!-- Se vincula el formulario de entrada con la interfaz -->
<form [formGroup]="card">
  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Nombre</mat-label>
      <!-- El formControlName tiene que estar en el formulario -->
      <input matInput formControlName="name" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Energía</mat-label>
      <input matInput formControlName="energy" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Costo</mat-label>
      <input matInput formControlName="cost" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Tipo</mat-label>
      <mat-select matInput formControlName="type" required>
        <mat-option value="4">Ultra rara</mat-option>
        <mat-option value="3">Muy rara</mat-option>
        <mat-option value="2">Rara</mat-option>
        <mat-option value="1">Normal</mat-option>
        <mat-option value="0">Básica</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Race</mat-label>
      <mat-select matInput formControlName="race" required>
        <mat-option value="UltraRare">Ultra rara</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Descripción</mat-label>
      <textarea rows="3" matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
</form>