@import '../../../../styles.scss';

.main-content {
  width: 60vw;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    width: 100%;
  }
}
.card-list {
  width: 100%;
  overflow-y: auto;
}

.card-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-content: center;
  padding: 20px;
}

.energy,
.battle-points {
  display: flex;
  align-items: start;
  justify-content: start;
  color: $text;
  gap: 1.4rem;
  width: 50%;
  padding: 10px;

  i {
    font-size: 2.8rem;
  }

  span {
    font-size: 1.6rem;
  }
}
.energy i {
  color: $energy;
}

.battle-points i {
  color: $warning;

}

.borde1 {
  width: 15%;
  height: 5px;
}

.borde2 {
  padding: 5px;
}
