<div class="main-container">
  <div class="game-container">
    <div class="status-bar-container">

    </div>

    <div class="planets-container">

    </div>

    <div class="buttons-container">

    </div>

    <div class="player-cards-container">
      <div class="player-hand">
        <div class="player-card" *ngFor="let card of playerInfo.hand">
          <app-game-card [card]="card"></app-game-card>
        </div>
      </div>

      <div class="player-deck">
        <img src="../../../../assets/images/logo.png">
      </div>
    </div>
  </div>
</div>