@import '../../../../styles.scss';

.card-container {
  background-color: $background_1;
  border: 3px solid $primary;
  border-radius: 1.2rem;
  padding: 0.5rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-image {
  width: 60%;
  border-radius: 0.5rem;
}

.card-info {
  width: 100%;
  overflow-y: auto;

  .card-name {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: $secondary;
    margin-bottom: 0.2rem;
  }
}

.card-cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.energy,
.battle-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text;
  gap: 0.2rem;

  i {
    font-size: 2.2rem;
  }

  span {
    font-size: 1.4rem;
  }
}

.energy i {
  color: $energy;
}

.battle-points i {
  color: $warning;
}